body {
  background-color: transparent;

  opacity: 0.5;
}

.screen {
  height: 100%;
}

button {
  padding-block: 10px;
  text-align: center;
  border-radius: 10px;
  border: none;

  font-size: 18px;

  box-shadow: 0 0 3px currentColor;

  background: rgb(52, 152, 219);
  cursor: pointer;
  font-weight: 600;
}
