body {
  margin: 0;
  padding: 0;

  background-color: black;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  img,
  video,
  webview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
