body {
  background: transparent;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

body[data-child="panoramic"] {
  background: black;
}

#panoramic,
#image,
#video,
#webview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;

  object-fit: contain;
}

#image,
#video {
  background: #000;
}

#center {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
}

[hidden="true"] {
  display: none !important;
}

#panoramic {
  width: 300%;
  height: auto;

  top: 50%;
  transform: translateY(-50%);
}
